.p3MainText{
    font-size: 18px;
    padding:30px;
    text-align: center;
    line-height: 40px;
}

/*按照手机进行布局*/
@media (max-width: 600px){
    .p3PLabel
    {
        font-size: 20px;
        line-height: 48px;
        margin-top: 21px;
        margin-bottom: 21px;
    }

}